.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center;
  border: none;
  width: 21px;
  height: 18px;
  transition: opacity 1s linear 0s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
